<p style="color: green"><%= notice %></p>
<div class="col-lg-12">
  <div class="card shadow">
    <div class="card-header">
      <h1 class="card-title"><h1>Plant Details</h1></h1>
    </div>
    <div class="card-body">
      <%= render @plant %>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div>
          <%= button_to "Destroy this plant", @plant, method: :delete, class: "btn btn-danger" %>
        </div>
        <div>
          <%= link_to "Back to plants", plants_path, class: "btn btn-outline-primary" %>
          <%= link_to "Edit this plant", edit_plant_path(@plant), class: "btn btn-warning" %> 
        </div>
      </div>
    </div>
  </div>
</div>
